sudo: required
services:
  - docker

before_install:
  - docker build -t sachin-vedaraj/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true sachin-vedaraj/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: 'ap-south-1'
  app: 'docker-react'
  env: 'DockerReact-env'
  bucket_name: 'elasticbeanstalk-ap-south-1-169835060998'
  bucket_path: 'docker-react'
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access-key:
    secure: '$AWS_SECRET_KEY'
